<MudNavMenu>
	<MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
	<MudNavLink Href="Members" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.SupervisedUserCircle">Members</MudNavLink>
	<MudNavLink Href="Videos" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.OndemandVideo">Videos</MudNavLink>
	<MudNavLink Href="Reserved" Match="NavLinkMatch.Prefix" Icon="@Icons.Rounded.ViewList">Reserving</MudNavLink>
	<MudNavLink Href="Lend" Match="NavLinkMatch.Prefix" Icon="@Icons.Rounded.ViewList">Lending</MudNavLink>
	

	@* <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu"> *@
	@* 	<nav class="flex-column"> *@
	@* 		<div class="nav-item px-3"> *@
	@* 			<NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
	@* 				<span class="oi oi-home" aria-hidden="true"></span> Home *@
	@* 			</NavLink> *@
	@* 		</div> *@
	@* 		<div class="nav-item px-3"> *@
	@* 			<NavLink class="nav-link" href="Members"> *@
	@* 				<span class="oi oi-people" aria-hidden="true"></span> Members *@
	@* 			</NavLink> *@
	@* 		</div> *@
	@* 		<div class="nav-item px-3"> *@
	@* 			<NavLink class="nav-link" href="Videos"> *@
	@* 				<span class="oi oi-video" aria-hidden="true"></span> Videos *@
	@* 			</NavLink> *@
	@* 		</div> *@
	@* 		<div class="nav-item px-3"> *@
	@* 			<NavLink class="nav-link" href="Reserved"> *@
	@* 				<span class="oi oi-list-rich" aria-hidden="true"></span>Reserved *@
	@* 			</NavLink> *@
	@* 		</div> *@
	@* 	</nav> *@
	@* </div> *@
</MudNavMenu>



