@page "/Reserved"
@using Video2.Data

@inject ReserveService ResSer

@if (CheckSubmit)
{
	<MudAlert Severity="Severity.Success">Reservation added successfully...!</MudAlert>
}


<MudCard Elevation="25">
	<MudCardHeader>
		<CardHeaderContent>
			<MudText Typo="Typo.h6">Reserving For Future Purposes.</MudText>
		</CardHeaderContent>
	</MudCardHeader>
	<MudCardContent>
		<MudTextField @bind-Value="relement.Cid" Label="Member Id" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
		<MudTextField @bind-Value="relement.Vid" Label="Video ID" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
		<MudDatePicker Label="Start Date" @bind-Date="relement.StartDate" />
		
		<MudDatePicker  Label="Due Date" @bind-Date="relement.DueDate"/>

		<br />
		<MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="InsertMember">Add Reservation</MudButton>
	</MudCardContent>
</MudCard>


<br />
<br />

@if (ReserveList == null)
{
	<p><em>Loading...</em></p>
}
else
{


	<MudGrid>
		
		<MudItem xs="2">
			<MudPaper Class="d-flex align-center justify-center mud-width-full py-5">Member ID</MudPaper>
		</MudItem>
		<MudItem xs="2">
			<MudPaper Class="d-flex align-center justify-center mud-width-full py-5">Video ID</MudPaper>
		</MudItem>
		@* <MudItem xs="3"> *@
		@* 	<MudPaper Class="d-flex align-center justify-center mud-width-full py-5">Video Name</MudPaper> *@
		@* </MudItem> *@
		<MudItem xs="3">
			<MudPaper Class="d-flex align-center justify-center mud-width-full py-5">Start Date</MudPaper>
		</MudItem>
		<MudItem xs="3">
			<MudPaper Class="d-flex align-center justify-center mud-width-full py-5">Due Date</MudPaper>
		</MudItem>
		<MudItem xs="2">
			<MudPaper Class="d-flex align-center justify-center mud-width-full py-5">Actions</MudPaper>
		</MudItem>
		@foreach (var std in ReserveList)
		{
			<MudItem xs="2">
				<MudPaper Class="d-flex align-center justify-center mud-width-full py-5">@std.Cid</MudPaper>
			</MudItem>
			<MudItem xs="2">
				<MudPaper Class="d-flex align-center justify-center mud-width-full py-5">@std.Vid</MudPaper>
			</MudItem>
			@* <MudItem xs="3"> *@
			@* 	<MudPaper Class="d-flex align-center justify-center mud-width-full py-5">@std.Cname</MudPaper> *@
			@* </MudItem> *@
			<MudItem xs="3">
				<MudPaper Class="d-flex align-center justify-center mud-width-full py-5">@std.StartDate</MudPaper>
			</MudItem>
			<MudItem xs="3">
				<MudPaper Class="d-flex align-center justify-center mud-width-full py-5">@std.DueDate</MudPaper>
			</MudItem>
			<MudItem xs="2" Class="d-flex align-center justify-center mud-width-full py-5">
				
				<MudFab  Color="Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" OnClick="(() => Delete(std.Cid,std.Vid))"/>
			</MudItem>
		
		}
		
	</MudGrid>
}


@code {
	MudDatePicker? _picker;
	


	public ReserveModel relement = new ReserveModel();

	public List<ReserveModel> ReserveList;
	public List<ReserveModel1> ReserveList1;

	public bool CheckSubmit = false;
	

	protected override void OnInitialized()
	{
		ReserveList = ResSer.GetReserveList();
	}

	protected void InsertMember()
	{
		ResSer.SaveReservation(relement);
		CheckSubmit = true;
		relement = new ReserveModel();
		ReserveList = ResSer.GetReserveList();
	}

	private void Delete(int Cid, int Vid)

	{
		ResSer.DeleteReservation(Cid,Vid);

		ReserveList = ResSer.GetReserveList();
	}
}
